*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}


:root{
	--bg-color: #ffffff;
	--text-color: #111111;
	--main-color: #c8815f;
	--big-font: 4.5rem;
	--h2-font: 3.2rem;
	--h3-font: 2rem;
	--normal-font: 1rem;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}

header{
	top: 0;
	right: 0;
	position: fixed;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 20px 14%;
	transition: all .35s ease;
}

.logo{
	color: var(--text-color);
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 28px;
}

.nav-list{
	display: flex;
}

.nav-list a{
	color: var(--text-color);
	font-weight: 600;
	padding: 10px 25px;
	font-size: var(--normal-font);
	transition: all .36s ease;
}

.nav-list a:hover{
	color: var(--main-color);
}

.header-icons i{
	font-size: 32px;
	color: var(--text-color);
	margin-right: 20px;
	transition: all .36s ease;
}

.header-icons i:hover{
	color: var(--main-color);
}

#menu-icon{
	font-size: 32px;
	color: var(--text-color);
	margin-right: 20px;
	z-index: 10001;
	display: none;
}

section{
	padding: 100px 14%;
}

.home{
	min-height: 100vh;
	width: 100%;
	background: url();
	background-size: cover;
	background-position: center top;
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 1fr); 
	align-items: center;
}

.home-text h1{
	font-size: var(--big-font);
	font-weight: 800;
	line-height: 1.2;
	letter-spacing: .6rem;
	margin-bottom: 1.4rem;
}

.home-text span{
	font-size: var(--h2-font);
}

.home-text p{
	font-size: var(--normal-font);
	font-weight: 500;
	margin-bottom: 3rem;
	letter-spacing: .2rem;
}

.btn{
	display: inline-block;
	background: var(--main-color);
	padding: 13px 25px;
	color: var(--bg-color);
	letter-spacing: 1px;
	font-weight: 600;
	border-radius: 5px;
	transition: all .25s ease;
}

.btn:hover{
	transform: translateY(-5px);
	background: var(--text-color);
}

header.sticky{
	background: var(--bg-color);
	padding: 14px 14%;
	box-shadow: 0px 0px 10px rgb(0 0 0/10%); 
}

.center-text{
	text-align: center;
}

.center-text h2{
	font-size: var(--h3-font);
}

.featured-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	gap: 1.3rem;
	align-items: center;
	margin-top: 4rem;
}

.row{
	position: relative;
	transition: all .35s ease;
	background: whitesmoke;
}

.row img{
	width: 100%;
	height: auto;
}

.fea-text{
	position: absolute;
	top: 40px;
	left: 50px;
}

.fea-text h5{
	font-size: 19px;
	letter-spacing: 2px;
	margin-bottom: 1rem;
}

.fea-text p{
	color: #555;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 400;
}

.row .arrow{
	position: absolute;
	bottom: 40px;
	left: 50px;
}

.row .arrow i{
	height: 35px;
	width: 35px;
	background: var(--bg-color);
	border-radius: 50%;
	font-size: 20px;
	color: var(--text-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all .35s ease;
}

.row:hover {
	transform: scale(0.9) translateY(-5px);
	cursor: pointer;
}

.row:hover i{
	color: var(--bg-color);
	background: var(--main-color);
}

.cta{
	height: 60vh;
	width: 100%;
	background: url(../img/ffffc.png);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
}

.cta-text h6{
	font-size: 17px;
	font-weight: 500;
	letter-spacing: .6px;
	margin-bottom: 14px;
}

.cta-text h4{
	font-size: 3.3rem;
	line-height: 1.1;
	letter-spacing: .6rem;
	margin-bottom:30px;
}

.new-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 1.3rem;
	align-items: center;
	margin-top: 4.2rem;
	text-align: center;
}

.box{
	position: relative;
	transition: all .40s ease;
}

.box img{
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 10px;
}

.box h5{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

.box h6{
	font-weight: 600;
	font-size: 16px;
}

.sale{
	position: absolute;
	top:0;
	left:0;
	width: 60px;
	height: 30px;
	background-color: var(--main-color);
	color: var(--bg-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: all .40s ease;
}
.Click {
	background-color: white;
	color: #25D366;
	width: 80px;
	height: 40px;
	font-size: 20px;
}

.box:hover{
	transform: scale(0.9)translateY(-5px);
	cursor: pointer;
}

.box:hover .sale{
	background: white;
	color: var(--main-color);
}

.brand{
	padding:50px 14%;
}

.brand-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	grid-gap: 2rem;
	align-items: center;
	justify-content: center;
}

.main img{
	width: 100%;
	height: auto;
	opacity: 0.6;
	transition: all .40s ease;
	cursor: pointer;
}

.main img:hover{
	opacity: 1;
}

.about{
	background: var(--text-color);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	grid-gap: 2rem;
}

.main-contact h3{
	font-size: 23px;
	margin-bottom: 1.6rem;
	color:var(--bg-color);
}

.main-contact h5{
	font-size:15px;
	font-weight: 600;
	color: #555;
}

.icons{
	display: flex;
	margin-top: 2rem;
}

.icons i{
	font-size:25px;
	margin-right: 1rem;
	color: #555;
	transition: all .35s ease;
}

.icons i:hover{
	color: var(--bg-color);
	transform: scale(1.1) translateY(-5px);
}

.main-contact li{
	margin-bottom: 15px;
}

.main-contact li a{
	display: block;
	color: #555;
	font-size: var(--normal-font);
	font-weight: 600;
	transition: all .45s ease;
}

.main-contact li a:hover{
	transform: scale(1.1) translateX(-6px);
	color: var(--bg-color);
}

.last-text{
	text-align: center;
	background: var(--text-color);
	color: var(--bg-color);
	padding: 20px;
}

.last-text p{
	color: #555;
	font-size: 14px;
	letter-spacing: 1px;

}

.top{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}
.IMG {
	background-image: url(img/img/PRICES/Web\ Solution\ png);
	width: 50px;
	height: 50px;
}
.IMG:hover {
	cursor: pointer;

}

.top i{
	font-size: 22px;
	color: var(--bg-color);
	padding: 14px;
	background-color: #25D366;
	border-radius: 2rem;
}
@media (max-width: 1000px){
	header{
		padding: 7px 4%;
		transition: .2s;
	}
	header.sticky{
		padding: 14px 4%;
		transition: .2s;
	}

	section{
		padding: 80px 4%;
		transition: .1s;
	}
}

@media (max-width: 670px) {
	#menu-icon{
		display: block;
		cursor: pointer;
	}
	.header-icons{
		display: inline-flex;
	}
	.nav-list{
		background-color: red;
		position: absolute;
		top: 100%;
		left: -100%;
		width: 280px;
		height: 120vh;
		background: var(--bg-color);
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 150px 30px;
		transition: all .45s ease;
	}
	.nav-list a{
		display: block;
		margin: 1.2rem 0;
	}

	.nav-list.open{
		left: 0;
	}
}

@media (max-width: 804) {
		#menu-icon{
		display: block;
		cursor: pointer;
	}
	.header-icons{
		display: inline-flex;
	}
	.nav-list{
		background-color: red;
		position: absolute;
		top: 100%;
		left: -100%;
		width: 280px;
		height: 120vh;
		background: var(--bg-color);
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 120px 20px;
		transition: all .45s ease;
	}
	.nav-list a{
		display: block;
		margin: 1.2rem 0;
	}

	.nav-list.open{
		left: 0;
	}


}